
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Manager.cshtml";
}

<h2>Success</h2>
<p>Driver has been added successfully.</p>
<a href="@Url.Action("Index", "Driver")" class="btn btn-dark">View Drivers</a>

