
@{
    ViewBag.Title = "AccountConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Account Confirmation</h3>
<p>Congratulations! Your account is successfully Created</p>
<p class="text-danger">Please Confirm your email address.</p>
<hr />
<div class="alert alert-success">
    <p class="m-0">Confirmation Link has been sent to your email</p>
</div>

