
@{
    ViewBag.Title = "AssignSuccess";
    Layout = "~/Views/Shared/_Manager.cshtml";
}

<h2>Success</h2>
<p>You have successfully assigned a driver to this order.</p>
<a href="@Url.Action("Index", "Order")" class="btn btn-primary">View Orders</a>
