
@{
    ViewBag.Title = "ConfirmOrderReady";
    Layout = "~/Views/Shared/_Manager.cshtml";
}

<h2>Request Successfully</h2>
<p class="alert alert-success">You have successfully confirmed the request.</p>
<a class="btn btn-dark" href="@Url.Action("ClientCustomOrders", "Order")">Back To Custom Orders</a>

