
@{
    ViewBag.Title = "CustomOrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Custom Order Success</h2>
<p class="alert alert-success">Your Request Is Successfully, <b>Please</b> check your emails daily as we will be communicating through email</p>
<p class="text-success">Your Order has been placed, we'll review your order & return a feedback through email</p>
<a class="btn btn-dark" href="@Url.Action("ViewCustom", "Order")">View Custom Orders</a>


