
@{
    ViewBag.Title = "DeleteProduct";
    Layout = "~/Views/Shared/_Manager.cshtml";
}

<h4>Delete Product</h4>

@using (Html.BeginForm("DeleteProduct", "Bakery", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <p>Do you want to remove this item?</p>
    <div>
        <button class="btn btn-success" type="submit">Confirm</button>
        <a class="btn btn-danger" href="@Url.Action("Products","Bakery")">Cancel</a>
    </div>
}

